{% extends 'baseApp/index.html' %}
{% block content %}

<div  data-role="page" data-theme="Swatch D"> 
<div align="center" data-role="header" data-theme="b">
<a href="../../../baseApp/" rel="external">Back</a><p>Cart</p><a href='../../../baseApp' rel="external", data-ajax="false">Done</a>
</div> 	
<div data-role="content">
<ul class=" ui-listview ui-listview-inset ui-corner-all ui-shadow " data-inset="true" data-role="listview" >
<li class="ui-li ui-li-static ui-body-c ui-corner-top">
<p class="ui-li-aside ui-li-desc">

</p>
<p class="ui-li-desc">
<div align="center">
<p>
Please enter Phone Number to view Cart
</p>

<form method='post' action="" data-ajax="false">
<p>{{ form }}</p>
<p>Phone: <input type='text' name='phone' value=""></p>
<input type='submit' name='Submit' value="Submit">
</form>

</div> 
</div> 



{% endblock %}

