<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<title>synapis.com</title>
<link rel="stylesheet" href="//../jq/jquery.mobile-1.0b1.min.css" />


<script type="text/javascript" src="/static/jq/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/static/jq/jquery.mobile-1.0b1.min.js"></script>
</head>

<body>
	<div  data-role="page" data-theme="Swatch D"> 
		<div align="center" data-role="header" data-theme="b">Welcome to ETS</div> 
		<div data-role="header" data-position="inline" data-theme="b">
			<a href="index.html" >Signup</a>
			<h1></h1> 
			<a href="index.html" >Login</a>
			</div>
		<div align="center" data-role="content">
		
		<ul data-role="listview" data-theme="c">
			<li><a href="categorySearch.html" rel="external", data-ajax="false">Categories</a></li>
			<li><a href="addEvent.html"rel="external", data-ajax="false" >Add Event</a></li>
			<li><a href="suggestions.html" rel="external", data-ajax="false">Suggestions</a></li>
		</ul>  

		<div align="left" data-role="content">
			<h6>Popular Events</h6>
			<div data-role="header" data-position="inline" data-theme="g">
				<img src="/1.jpg" height="225" >
				<img src="/2.jpg" height="225" >
				<img src="/3.jpg" height="225" >
			</div>
		</div>   

</div> 

<div align="center" data-role="footer" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="">About us</a></li>
			<li><a href="">Help</a></li>
			<li><a href="">Cart</a> </li>
		</ul>
	</div>	
</div> 
</div> 

</body>
</html>
