<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>sypis.com</title>
<link rel="stylesheet" href="../jq/jquery.mobile-1.0b1.min.css" />
<script type="text/javascript" src="../jq/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="../jq/jquery.mobile-1.0b1.min.js"></script>
</head>
<body>
<div  data-role="page"> 
	<div align="center" data-role="header">Welcome to ETS</div> 
	<div data-role="header" data-position="inline">
		<a href="index.html" >Sign in</a>
		<h1>user</h1>
		<a href="index.html" >Login</a>
		</div>
	<div align="center" data-role="content">
		
	<ul data-role="listview" data-theme="g">
	<li><a href="categorySearch.html" >Categories</a></li>
	<li><a href="addEvent.html" >Add Event</a></li>
	<li><a href="suggestions.html" >Suggestions</a></li>
	</ul>  

	<div align="left" data-role="content">
	<h5>Popular Events</h5>
	<div data-role="header" data-position="inline" data-theme="g">
	<img src="1.jpg" height="225" >
	<img src="2.jpg" height="225" >
	<img src="3.jpg" height="225" >
	</div>
	</div>   

	</div> 

	<div align="center" data-role="footer">
	<a href="">About us</a>
	<a href="">Help</a>
	<a href="">Cart</a> 
	</div> 
</div> 

</body>
</html>
