<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<title>synapis.com</title>
<link rel="stylesheet" href="/static/jq/jquery.mobile-1.0b1.min.css" />

<script type="text/javascript" src="/static/jq/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/static/jq/jquery.mobile-1.0b1.min.js"></script>
</head>

<body>


{% block content %}

{% endblock %}

<div align="center" data-role="footer" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="aboutus" rel="external">About us</a></li>
			<li><a href="">Help</a></li>
			<li><a href="viewcart" rel="external">Cart</a> </li>
		</ul>
	</div>	
</div> 
</div> 

</body>
</html>
