{% extends 'baseApp/index.html' %}
{% block content %}	
	
<div align="center" data-role="page" id="map" data-theme="Swatch D">
<div>
<div align="center" data-role="header" data-theme="b">
<a href="../baseApp/addEvent" rel="external">Back</a><p>Generate ticket</p></p><a href='../baseApp' rel="external", data-ajax="false">Done</a>		
</div> 	
<div data-role="content">

<ul class=" ui-listview ui-listview-inset ui-corner-all ui-shadow " data-inset="true" data-role="listview" >
<li class="ui-li ui-li-static ui-body-c ui-corner-top">
<p class="ui-li-aside ui-li-desc">

</p>
<p class="ui-li-desc">
<div align="center">

{% if logged_in %}
<form  method="post" data-ajax="false">
{{ form.as_p }}
<div data-role="fieldcontain">
<p><li>{{event}}</li></p>
<p><input name="name" type="hidden" value="{{event}}" /></p>
<p>Ticket type: <input name="ttype" type="text" value="" /></p>
<p>Ticket Price: <input name="price" type="text" value="" /></p>
<p>Quantity: <input name="qty" type="text" value="" /></p>
</div>
<input type="submit" value="Generate Tickets" data-icon="plus" data-iconpos="right" data-theme="b" /></p>
</form>
</li>
<li><h5 align="center"><a align="center">{{msg}}</a></h5></li>
</ul>

{%else%}

<h4>Please login to access this page<h4>
<a href="reg/login/" rel="external">Login</a>
{%endif%}
</div>
</div> 

{% endblock %}
